<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Retailer {{ title }}
  </h1>
<nav class="navbar navbar-light bg-light" >
  <a class="navbar-brand">Retailer Details</a>
</nav>
<form>
  <label for="id">Retailer ID : </label>
  <input type="text" [(ngModel)]="retailer_id" name="ret_id" min="1" max="6">

  <input type="button" class="btn btn-primary mb-2" (click)="getRetailData()" value="Click Details" >
  
</form>
  <table border=1>

<tbody  *ngIf="apiData && apiData.payload"> 
  <tr>
    <th>Business Mobile Number</th>

    
  </tr>
	<tr *ngFor="let item of  this.apiData.payload" >
		<td>{{item.business_mobile_no}}</td>
    <td>{{item.creation_date}}</td>
    <td>{{item.distributor_id}}</td>
    <td>{{item.mobile_number}}</td>
    <td>{{item.ret_nameret_name}}</td>
    <td>{{item.retailer_address}}</td>
    <td>{{item.retailer_id}}</td>
    <td>{{item.retailer_states}}</td>
	</tr>

	</tbody>
</table>






<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Business Mobile Number</th>
      <th scope="col">First</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Creation Date</th>
      <td>Mark</td>
    </tr>
    <tr>
      <th scope="row">Distributor ID</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">Mobile Number</th>
      <td>Jacob</td>
    </tr><tr>
      <th scope="row">Retailer Name</th>
      <td>Jacob</td>
    </tr><tr>
      <th scope="row">Retailer Address</th>
      <td>Jacob</td>
    </tr><tr>
      <th scope="row">Retailer ID</th>
      <td>Jacob</td>
    </tr><tr>
      <th scope="row">Retailer State</th>
      <td>Jacob</td>
    </tr>
    </tbody>
</table>










</div>

<router-outlet></router-outlet>
