<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <!--
  <h1>
    Retailer {{ title }}
  </h1>-->

<!--
<nav class="navbar navbar-light bg-light" >
  <a class="navbar-brand">Retailer Details</a>
</nav>-->
<div class="blacknav">


<div class="muna">
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <label for="id">Retailer ID : </label>
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="retailer_id" name="ret_id" min="1" max="6">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="getRetailData()" type="submit">Click Details</button>
  </form>
</nav>
</div>


<!--<form>
  <label for="id">Retailer ID : </label>
  <input type="text" [(ngModel)]="retailer_id" name="ret_id" min="1" max="6">
  <input type="button" class="btn btn-primary mb-2" (click)="getRetailData()" value="Click Details" >
</form>-->
  
  
<table border=1 id="tab1">
<tbody  *ngIf="apiData && apiData.payload"> 
  <tr>
    <th>Business Mobile Number</th>
    <th>Creation Date</th>
    <th>Distributor ID</th>
    <th>Mobile Number</th>
    <th>Retailer Name</th>
    <th>Retailer Address</th>
    <th>Retailer ID</th>
    <th>Retailer State</th>
  </tr>
	<tr *ngFor="let item of  this.apiData.payload" >
		<td>{{item.business_mobile_no}}</td>
    <td>{{item.creation_date}}</td>
    <td>{{item.distributor_id}}</td>
    <td>{{item.mobile_number}}</td>
    <td>{{item.ret_name}}</td>
    <td>{{item.retailer_address}}</td>
    <td>{{item.retailer_id}}</td>
    <td>{{item.retailer_state}}</td>
	</tr>

	</tbody>
</table>
</div>
</div>

<router-outlet></router-outlet>
