h1{
    color: mediumblue;
    text-decoration: underline;
}

.form-control{
    margin-left: .5em;
}

label{
    font-size: 22px;
}
.bg-light{
    background-color: #eaecef!important;
}
.navbar {
    margin: 10px 50px 10px 50px;
    padding-left: 30%;
}
#tab1{
    margin: 10px 50px 10px 50px;
}
